*{
  padding: 0;
  margin: 0;
}

body {
  background: #815B40;
  z-index: -1;
}
header{
  position: fixed;
  background-image: url('woodgrain.jpg');
  background-size: cover;
  color: white;
  height: 95px;
  width: 100%;
  border: 3px solid white;
  box-sizing: border-box;

  
}
.theVoid{
  height: 95px;
  margin-bottom: 10px;
}
.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content img{
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 42px;
  left: 100px;
}
.content h1{
  text-decoration: underline; 
}
.content p{
font-size: 22px;
}
.bannerBox{
  display: flex;
  
}
.banner2{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 50px 15px;
  margin: 0px 10px;
  background-color: #812308;
  border-radius: 8px;
}
.styles{
  background-image: url('woodgrain.jpg');
  width: 330px;
  height: 350px;
  padding: 0 auto;
  margin: 20px 20px;
  text-align: center;
  border-radius: 8px;
  display:inline-block
}
.styles h1{
  text-decoration: underline;
  color: white;
}
.styles img{
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}
.styles button {
  margin: 10px auto;
  width: 175px;
  height: 45px;
  color: white;
  border-radius: 8px;
  background-color: #812308;
  font-size: large;
  font-weight: bold;
}
.styles button:hover{
  cursor: pointer;
  color: #815B40;
}
.footerContainer {
  background-color: #812308;
  color: white;
  text-align: center;
  font-size: 20px;
  padding:10px;
  border-radius: 12px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media(min-width:1300px){
.bannerBox img{
  height: 300px;
}

}
@media(max-width:1299px){
  .banner1 img{
    height: 450px;
    width: 100%;
  }
  .banner3 img{
  display: none;
  }
.bannerBox{
  display: block
}
}
@media(max-width:757px){
 .styles{
  display: block;
  margin: 20px auto;
 }
}